.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.app:empty {
  position: relative;
  grid-template-columns: auto;
}

.app:empty::after {
  content: 'loading...';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  color: gray;
  animation: 0.5s cubic-bezier(0.4, 0, 0.2, 1) .5s infinite alternate opacity;
  opacity: 0;
}

@keyframes opacity{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
