.app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.app:empty {
  position: relative;
}

.app:empty::after {
  content: 'loading...';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 300%;
  color: gray;
  font-family: monospace;
  animation: 0.5s cubic-bezier(.4,0,.2,1) .5s infinite alternate opacity;
  opacity: 0;
}

@keyframes opacity{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
